@using HotelReservations.Infrastructure.Enums
@using System.Linq
@using HotelReservations.Web.Models
@model ReservationViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Model.HotelId = ViewBag.HotelId;
}

<h2>Reservation for @ViewBag.HotelName</h2>

@using (Html.BeginForm("Add", "Reservation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <span>
        <input type="text" name="HotelId"  value=@ViewBag.HotelId readonly style="visibility:hidden"/> 
    </span>
<div class="form-group">
    @*<label for=""></label>*@
    @Html.Label("StartDate", "Check-in:")
    @Html.EditorFor(m => m.StartDate)
    @*@(Html.Kendo().DatePicker()
        .Name("StartDate")
    )*@
</div>
<div class="form-group">
    @*<label for="EndDate">Check-out:</label>*@
    @Html.Label("EndDate", "Check-out:")
    @Html.EditorFor(m => m.EndDate)
    @*@(Html.Kendo().DatePicker()
    .Name("EndDate")
    )*@
</div>
<div class="form-group">
    @Html.Label("AdultsNumber", "Number of Adults:")
    @Html.EditorFor(m => m.AdultsNumber)
    @*<label for="AdultsNumber">Number of Adults:</label>
    @(Html.Kendo().NumericTextBox()//.NumericTextBox<int>()
        .Name("AdultsNumber")
        .Format("#")
        .Min(1)
    )*@
</div>
<div class="form-group">
    @Html.Label("ChildrenNumber", "Number of Children:")
    @Html.EditorFor(m => m.ChildrenNumber)
    @*<label for="ChildrenNumber">Number of Children:</label>
    @(Html.Kendo().NumericTextBox()//.NumericTextBox<int>()
        .Name("ChildrenNumber")
        .Format("#")
        .Min(0)
    )*@
</div>
<div class="form-group">
    @Html.Label("MealPlan", "Meal Plan:")
    @Html.DropDownList("MealPlan", new SelectList(Enum.GetValues(typeof(MealPlan))))

    @*<label for="MealPlan">Meal Plan:</label>
    @(Html.Kendo().ComboBox()
        .Name("MealPlan")
        .SelectedIndex(0)
        .AutoBind(true)
        .BindTo(Enum.GetValues(typeof(MealPlan))
            .Cast<MealPlan>()
            .Select(v => v.ToString())
            .ToList()
        )
    )*@
</div>
<button type="submit" class="btn btn-warning">Send</button>
}